/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100vh;
    margin: 0;
    background-color: #1a771a;
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}